export("jd_regarima")
export("jd_regarima_defX13")
export("jd_regarima_defTS")
S3method(jd_regarima,X13)
S3method(jd_regarima,TRAMO_SEATS)
export("jd_regarima_specDefX13")
export("jd_regarima_specX13")
export("jd_regarima_specDefTS")
export("jd_regarima_specTS")
export("jd_regarima_rtest")
export("jd_saveSpec")
S3method(jd_saveSpec,JD_RegArima)
S3method(jd_saveSpec,JD_RegArima_Spec)
export("jd_loadSpec")
export("s_estimate")
export("s_transform")
export("s_usrdef")
export("s_preOut")
export("s_preVar")
export("s_td")
export("s_easter")
export("s_out")
export("s_arima")
export("s_arimaCoef")
export("s_fcst")
export("s_span")
# generic standard function
S3method(plot,JD_RegArima)
S3method(print,JD_RegArima)
S3method(summary,JD_RegArima)
S3method(coef,JD_RegArima)
S3method(logLik,JD_RegArima)
S3method(print,JD_RegArima_rtest)
import("rJava")
importFrom("stats", "frequency", "is.ts", "terms", "ts", "ts.union","acf", "dnorm", "pacf", "plot.ts", "printCoefmat","pt", "qqnorm", "sd","is.mts")
importFrom("grDevices", "as.graphicsAnnot", "dev.cur", "dev.flush","dev.hold", "dev.interactive", "dev.set", "devAskNewPage","dev.new","windows")
importFrom("graphics", "abline", "axis", "curve", "hist", "layout","legend", "mtext", "par", "plot", "title")
importFrom("methods", "as")

